@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base styles */
body {
  background: #f5f5f5;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}